---

---

<nav aria-label="primary navigation">
  <ul class="nav | flex-group">
    <li><a href="/index.html">Home</a></li>
    <li><a href="#">Page 2</a></li>
    <li><a href="#">Page 3</a></li>
    <li><a href="#">Page 4</a></li>
  </ul>
</nav>

<style lang="scss">
  @use 'sass:color';
  @use "../styles/abstracts" as *;
  .nav {
    --flex-column-gap: #{$navigation-gap};

    list-style: none;
    font-family: $navigation-font-family;
    font-weight: $navigation-font-weight;

    a {
      color: $navigation-color;
      text-decoration: $navigation-link-text-decoration;

      &:is(:hover, :focus) {
        color: $navigation-color-hover;
      }
    }
  }

  .mobile-nav-toggle {
    display: none;
  }

  @media (max-width: #{bp(medium)}) {
    .mobile-nav-toggle {
      display: block;
      position: absolute;
      z-index: 2000;
      right: 1rem;
      top: 1.5625rem; // logo height (74px) - icon height (24px) / 2 = 25px;
      border: 0;
      background: none;
      background-image: url(../../assets/icon-hamburger.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: 1.5rem;
      aspect-ratio: 1;
    }

    .mobile-nav-toggle[aria-expanded="true"] {
      background-image: url(../../assets/icon-close.svg);
    }

    /* Show outline only when we've navigated using keyboard (by pressing Tab) */
    .mobile-nav-toggle:focus-visible {
      outline: 5px solid white;
      outline-offset: 5px;
    }
  }

  .primary-navigation {
    --flex-gap: #{size(10)};

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: clr(neutral, "100");
      font-family: $font-family-accent;
      font-size: fs(large, "600");

      &:is(:hover, :focus) {
        opacity: 0.7;
        text-decoration: underline;
      }
    }

    a {
      font-family: $font-family-accent;
    }

    @media (max-width: bp(medium)) {
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 30%;
      /* Wanna come in with a big value, but I don’t wanna risk some issues with overflows and stuff. 
         padding: min(6rem, 20vh) - allow top padding to increase on vertical monitors. */
      padding: min(20rem, 15vh) 2rem;
      flex-direction: column;
      transform: translateX(100%);
      transition: transform 500ms ease-in-out;

      @supports (backdrop-filter: blur(0.25rem)) {
        backdrop-filter: blur(0.25rem);
        background: color.scale(clr(neutral, "900"), $alpha: -10%);
      }

      &[data-visible="true"] {
        transform: translateX(0);
      }

      ul {
        flex-direction: column;
        margin-inline: unset;
        text-align: start;
      }
    }
  }
</style>
